mat-toolbar {
  position: relative;
  z-index: 5;
}

.content {
  height: 100vh;
  padding: 24px;
  margin-left: 250px;
}

mat-sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
}

.toggle {
  display: none;
  width: 40px;
  height: 40px;
  min-width: 40px;
  padding: 0;
  padding-left: 12px;
  margin: 0;
  border-radius: 50%;
  z-index: 10;
  position: fixed;
  top: 14px;
  left: 14px;
}

@media (max-width: 767px) {
  .toggle {
    display: flex;
  }

  .sidenav {
    width: 65px;
  }

  .content {
    margin-left: 65px;
  }
}
